---
---
<!DOCTYPE html>
<!--


This site was built with lots of Love and Sass. This site wouldn't have been possible with out the amazing tutorials by Travis Nieson from youtube.com/user/DevTipsforDesigners/



-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% for head in site.data.settings.head %}
        <title>{{ head.title }}</title>
          <meta name="Keywords" content="" />
            <meta http-equiv="default-style">
            <meta name="author" content="{{ head.name }}" />
            <meta name="description" content="{{ head.description }}" />
        {% endfor %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="assets/img/icons/favicon.ico">
        <link rel="stylesheet" href="assets/css/all.css"/>
    </head>
    <body>

            {% include nav.html %}
            {% include contact.html %}
            {% include footer.html %}


        <script src="assets/js/jquery-2.1.1.min.js"></script>
        <script src="assets/js/functions.js"></script>
    </body>
</html>
