---
permalink: work/
Title: work
---
<!DOCTYPE html>
<!--


This site was built with lots of Love and Sass. This site wouldn't have been possible with out the amazing tutorials by Travis Nieson from youtube.com/user/DevTipsforDesigners/



-->
<html lang="en">
    {% include head.html %}
    <body>

            {% include nav-perm-pretty.html %}
            {% include work.html %}

            {% include footer-perm-pretty.html %}




        <script src="/assets\js\jquery-2.1.1.min.js"></script>
        <script src="/assets/js/functions.js"></script>
        <script src="/assets/js/jquery.fitvids.js"></script>
        <script src="/assets/js/toggleNav.js"></script>
        <script>
            $(".flex-video").fitVids();
        </script>
    </body>

</html>
