<section id="about">
    <h3>About Me!</h3>
    <div class="flex-wrap">
        <div class="profile-wrap">
            <div class="face-img"></div>
        </div>
        <div class="blurp">
            <p><strong>Hey, my name is Manuel Osorio and I'm a graphic designer that specilizes in logo design.</strong> I will work diligently to ensure the best results according to your needs.</p>
        </div>
    </div>
     {% if site.data.settings.skills %}
    <div class="skills-wrap">
        {% for skill in site.data.settings.skills %}
        <div class="skills-unit">
            <div class="skills-label">{{ skill.name }}</div>
            <div class="skills-icons skills-{{ skill.value }}">
                {% for i in (1..10) %}
               <span></span>
        {% endfor %}


            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <br>
</section>
