<footer>
    <div class="lockup">
       {% include DMCA.html %}
        <div> 
            
            
                <div class="logo">{% include icons/icon-logo.html %}</div>
<div class="content-wrapper">            
    <nav>
        {% for item in site.data.settings.menu %}
            <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
  </nav>
    
            <p class="copyright">© 2014-2015, Manuel Osorio CEO of MKDesignz. All rights reserved.</p>
         
        </div>
    </div>

    </div>
</footer>