<head>

    <link rel="shortcut icon" href="../assets/img/icons/favicon.ico">
    <link rel="stylesheet" href="../assets/css/all.css"/>
    {% for head in site.data.settings.head %}
    <meta charset="utf-8">
    <title>{{ head.title }}</title>
    <meta name="Keywords" content="" />
    <meta http-equiv="default-style">
    <meta name="author" content="{{ head.name }}" />
    <meta name="description" content="{{ head.description }}" />
    {% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
