<div class="nav">
    <a href="/" class="logo">{%  include icons/icon-logo.html %}</a>
    <div class="flex-right">
        <div class="links">
            {% for item in site.data.settings.menu %}
                <a href="/{{ item.url }}" target="{{ item.target }}">{{ item.name }}</a>
            {% endfor %}
                <a href="https://mkdesignz.spreadshirt.com/" target="_blank">Store</a>
    </div>

    <div class="flex-mobile">
       <span class="icon-navicon"></span>
        <div class="mobile-nav">
            {% for item in site.data.settings.menu %}
            <div><a href="/{{ item.url }}" target="{{ item.target }}">{{ item.name }}</a></div>
            {% endfor %}
            <div><a href="https://mkdesignz.spreadshirt.com/" target="_blank">Store</a></div>
        </div>
        </div></div>

</div>

