---
---



///////////////////////
//
// Variables
//
///////////////////////


$avatar-path: '{{ site.data.layout.avatar }}'





//------------------------------------------------
// Set some colors as sass variables


$accent-color: {{ site.data.layout.accent-color }}

$accent-light: {{ site.data.layout.accent-light }}
$bg-color: {{ site.data.layout.bgcolor }}
$bg-color-light: {{ site.data.layout.bgcolor-light }}
$primary: {{ site.data.layout.primary-color }}
$primary-light: {{ site.data.layout.primary-color-light }}
$documentBackgroundColor: {{ site.data.layout.documentBackgroundColor }}
$headline-color: {{ site.data.layout.headlineColor }}
$text-color: {{ site.data.layout.text-color }}
$link-color: {{ site.data.layout.primary-color }}
$selection-color: {{ site.data.layout.selectionColor }}
$header-bg: {{ site.data.layout.header-bg }}
$footer-bg: {{ site.data.layout.header-bg }}
$bg-color-dark: {{ site.data.layout.bg-color-dark }}




///////////////////////////
//
// SASS IMPORTS
//
///////////////////////////
body
    overflow-x: hidden
@import '1-tools/-tools-index'
@import '2-base/-base-index'
@import '3-sections/-sections-index'

.fa-heart:before
    color: #ff6b57
