.nav
    background: $header-bg
    height: 40px

    width: 100%
    +display(flex)
    +justify-content(space-around)
    .logo
        position: absolute
        left: 15%

        width: 100px
        z-index: 1

        svg
            margin-top: -30px
            height: 100px
            width: 100px

            path
                +transition($trans)
                fill: $bg-color-light
                &:hover
                    fill: #ff6b57
    .flex-right
        +display(flex)
        +flex-wrap(wrap)
        +justify-content(flex-end)
        width: auto

        .links
            position: absolute
            top: 5px
            right: 10%
            a
                +transition($trans)
                color: rgba(255, 255, 255, 0.85)
                font-size: 20px
                margin-left: 15px
                &:hover
                    color: $primary
                    font-weight: 500
        .icon-navicon
            cursor: pointer
            color: $bg-color-light
            font-size: 30px
            display: none
    @media screen and (max-width: 870px)
        .links
            display: none
.fixed
    height: 60px
    padding-bottom:	0px !important
    background: rgba(50,50,50,0.8)
    box-shadow: 3px 5px 15px rgba(0,0,0,0.45)
    .right li a
        text-decoration: none
        float: right
        color: rgba(254,254,242,0.8)
        margin-right: 25px
        margin-top: 0px
    .left li a svg
        margin: -25px 0
        height: auto
        fill: rgba(254,254,242,0.8)
        max-width: 100px

        li a svg path
            fill: rgba(254,254,242,0.8)
    li a svg path:hover
        fill: #ff6b57

.hide
    display: none
    visibility: hidden
.mobile-nav
    display: none
    text-align: center
    flex-direction: column
    flex-wrap: wrap
    max-height: 215px
    height: 0
    justify-content: center
    align-content: stretch
    align-items: stretch
    z-index: 85
    width: 100vw
    position: absolute
    top: 40px
    left: 0
    background-color: $bg-color-dark
    +transition(1s)
    div
        padding:
            left: 15px

        a
            border-bottom-style: solid
            border-bottom-width: medium
            border-bottom-color: #404040
            color: rgba(255, 255, 255, 0.85)
            font-size: 20px


            &:hover
                color: $primary
                font-weight: 500
@media screen and (max-width: 870px)
    .icon-navicon
        position: absolute
        right: 10%
        display: flex !important
        top: 2px
    .mobile-nav.active
        display: flex
        height: 100%
@media screen and (max-width: 650px)
    .icon-navicon
        top: -5px

